{% extends "base.html" %}
{% block content %}
<main class="l-fourth">
    <div class="e-material-container e-material-container--empty">
        <h2>empty</h2>
        <p>no data</p>
        <div class="e-material-button">add material</div>
    </div>
    <div class="e-material-container">
        <h2>Nylon 12</h2>
        <p>natural <br> Ø 2.85</p>
        <div class="e-material-button">20%</div>
    </div>
    <div class="e-material-container">
        <h2>PLA-T</h2>
        <p>blue <br> Ø1.75</p>
        <div class="e-material-button">54%</div>
    </div>
    <div class="e-material-container e-material-container--empty">
        <h2>empty</h2>
        <p>no data</p>
        <div class="e-material-button">add material</div>
    </div>
</main>
{% end %}