{% extends "base.html" %}
{% block content %}
<main class="l-main-container">
    <div class="l-thirds-buttons">
        <a href="/network" class="e-bordered-button">
            <img class="e-bordered-button__ico" src="icons/icon_net-info.svg" />
            <p class="e-bordered-button__text">
                network info
            </p>
        </a>
        <a href="/drying-programs" class="e-bordered-button">
            <img class="e-bordered-button__ico" src="icons/icon_dryer-config.svg" />
            <p class="e-bordered-button__text">
                Drying programs
            </p>
        </a>
        <a href="/dryer-info" class="e-bordered-button">
            <img class="e-bordered-button__ico" src="icons/icon_dryer-config.svg" />
            <p class="e-bordered-button__text">
                dryer<br /> info
            </p>
        </a>
    </div>
</main>
{% end %}