{% extends "base.html" %}
{% block content %}
<main class="l-dryed-container">
    <div class="l-dryed">
        <a class="e-dryed" >
            <h2>Nylon 6/66/12</h2>
            <p>qty: 12</p>
        </a>
        <a class="e-dryed" >
            <h2>ABS</h2>
            <p>qty: 5</p>
        </a>
        <a class="e-dryed" >
            <h2>PLA+</h2>
            <p>qty: 5</p>
        </a>
        <a class="e-dryed" >
            <h2>Nylon 6/66/12</h2>
            <p>qty: 12</p>
        </a>
        <a class="e-dryed" >
            <h2>ABS</h2>
            <p>qty: 5</p>
        </a>
        <a class="e-dryed" >
            <h2>PLA+</h2>
            <p>qty: 5</p>
        </a>
        <a class="e-dryed" >
            <h2>Nylon 6/66/12</h2>
            <p>qty: 12</p>
        </a>
        <a class="e-dryed" >
            <h2>ABS</h2>
            <p>qty: 5</p>
        </a>
        <a class="e-dryed" >
            <h2>PLA+</h2>
            <p>qty: 5</p>
        </a>
        <a class="e-dryed" >
            <h2>Nylon 6/66/12</h2>
            <p>qty: 12</p>
        </a>
        <a class="e-dryed" >
            <h2>ABS</h2>
            <p>qty: 5</p>
        </a>
        <a class="e-dryed" >
            <h2>PLA+</h2>
            <p>qty: 5</p>
        </a>
    </div>
</main>
<div id='dryed_popup' class="l-overlay">
    <a href="/dryed-material" class="l-overlay-info-container l-overlay-info-container--full">
        <div class="e-info-message e-info-message--full">
            <h2>ABS's Spool dryed: 10 </h2>
            <div class="l-dryed-list">
                <div class="l-dryed-list__container">
                    <p class="l-dryed-list__left">ABS / KODAK / Black / 2.85</p>
                    <p class="l-dryed-list__right">Dry date: 2019.07.01</p>
                </div>
                <div class="l-dryed-list__container">
                    <p class="l-dryed-list__left">ABS / KODAK / Black / 2.85</p>
                    <p class="l-dryed-list__right">Dry date: 2019.07.01</p>
                </div>
                <div class="l-dryed-list__container">
                    <p class="l-dryed-list__left">ABS / KODAK / Black / 2.85</p>
                    <p class="l-dryed-list__right">Dry date: 2019.07.01</p>
                </div>
                <div class="l-dryed-list__container">
                    <p class="l-dryed-list__left">ABS / KODAK / Black / 2.85</p>
                    <p class="l-dryed-list__right">Dry date: 2019.07.01</p>
                </div>
                <div class="l-dryed-list__container">
                    <p class="l-dryed-list__left">ABS / KODAK / Black / 2.85</p>
                    <p class="l-dryed-list__right">Dry date: 2019.07.01</p>
                </div>
                <div class="l-dryed-list__container">
                    <p class="l-dryed-list__left">ABS / KODAK / Black / 2.85</p>
                    <p class="l-dryed-list__right">Dry date: 2019.07.01</p>
                </div>
                <div class="l-dryed-list__container">
                    <p class="l-dryed-list__left">ABS / KODAK / Black / 2.85</p>
                    <p class="l-dryed-list__right">Dry date: 2019.07.01</p>
                </div>
            </div>
        </div>
    </a>
</div>
<script>
    $('.e-dryed').click(function() {
        $('#dryed_popup').toggleClass('l-overlay--visible')
    })
</script>
{% end %}