<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Material Dryier</title>
</head>
<body>
    <header class="l-top">
        <a href="#"><img src="./icons/icon_ethernet-on.svg"></a>
        <p class="e-top-date"> nov 13 | <span id="currentTime">13:55</span></p>
        <a href="#"><img src="./icons/icon_lock-off.svg"></a>
    </header>
    <main class="l-main-container">
        <div class="l-thirds-buttons">            
            <a href="network-info.html" class="e-bordered-button">
                <img class="e-bordered-button__ico" src="icons/icon_net-info.svg"/>
                <p class="e-bordered-button__text">
                    network info
                </p>
            </a>
            <a href="custom-drying.html" class="e-bordered-button">
                <img class="e-bordered-button__ico" src="icons/icon_dryer-config.svg"/>
                <p class="e-bordered-button__text">
                    custom drying program
                </p>
            </a>
            <a  href="dryer-info.html" class="e-bordered-button">
                <img class="e-bordered-button__ico" src="icons/icon_dryer-config.svg"/>
                <p class="e-bordered-button__text">
                    dryer<br/> info
                </p>
            </a>
        </div>
    </main>
    <nav class="l-nav">
        <a href="home.html" class="e-nav-item">
            <img class="e-nav-item__ico" src="icons/icon_menu-home.svg"/>
            home
        </a>
        <a href="load.html" class="e-nav-item">
            <img class="e-nav-item__ico" src="icons/icon_menu-filament.svg"/>
            load filament
        </a>
        <a href="info.html" class="e-nav-item">
            <img class="e-nav-item__ico" src="icons/icon_menu-info.svg"/>
            info
        </a>
        <a href="config.html" class="e-nav-item  e-nav-item--selected">
            <img class="e-nav-item__ico" src="icons/icon_menu-config.svg"/>
            config
        </a>
    </nav>

    <div class="l-overlay">
        <a href="config.html" class="l-overlay-info-container l-overlay-info-container--close">
            <div class="e-info-message e-info-message--wide">
                <img class="e-close" src="icons/icon_close.svg"/>
                <p class="e-info-message__text">
                    Pablito sos un MUERTO. <br/>No encontré tu placa!
                </p>
            </div>
        </a>
    </div>

</body>
</html>