{% extends "base.html" %}
{% block content %}
<main class="l-remaining">
    <a class="l-remaining__button l-remaining__button--active">Material Dryer unit</a>
    <a class="l-remaining__button">Feeder Dryer unit</a>
    <div class="l-remaining-list">
        <div class="l-remaining-list__container">
            <p class="l-remaining-list__left">ABS / KODAK / Black / 2.85</p>
            <p class="l-remaining-list__right">Dry date: 2019.07.01</p>
        </div>
        <div class="l-remaining-list__container">
            <p class="l-remaining-list__left">ABS / KODAK / Black / 2.85</p>
            <p class="l-remaining-list__right">Dry date: 2019.07.01</p>
        </div>
        <div class="l-remaining-list__container">
            <p class="l-remaining-list__left">ABS / KODAK / Black / 2.85</p>
            <p class="l-remaining-list__right">Dry date: 2019.07.01</p>
        </div>
        <div class="l-remaining-list__container">
            <p class="l-remaining-list__left">ABS / KODAK / Black / 2.85</p>
            <p class="l-remaining-list__right">Dry date: 2019.07.01</p>
        </div>
        <div class="l-remaining-list__container">
            <p class="l-remaining-list__left">ABS / KODAK / Black / 2.85</p>
            <p class="l-remaining-list__right">Dry date: 2019.07.01</p>
        </div>
    </div>
</main>
{% end %}